@import "_normalize";
@import "_variables";

html {
  box-sizing: border-box;
}

*,
*:before,
*:after {
  box-sizing: inherit;
}

body {
  background: linear-gradient(
    90deg,
    rgba(255, 255, 255, 1) 4%,
    rgba(0, 0, 0, 1) 20%,
    rgba(0, 0, 0, 1) 80%,
    rgba(255, 255, 255, 1) 96%
  );
  margin: 0 auto;
  text-decoration: none;
  width: 65%;
}

.about {
  border-bottom: 3px dotted cornsilk;
  color: rgb(163, 163, 163);
  max-width: 100%;
  padding: 16px;
  &__header {
    background-image: url("https://images.pexels.com/photos/1308624/pexels-photo-1308624.jpeg?auto=compress&cs=tinysrgb&dpr=1&w=500");
    background-position: center center;
    color: rgb(255, 0, 0);
    font-size: 2em;
    min-height: 20vw;
    position: relative;
  }
  &__paragraph {
    color: #949494;
    overflow: auto;
    max-height: 200px;
  }
  &__image {
    display: block;
    float: left;
    margin: 0 16px 0 0;
    max-width: 150px;
    width: 100%;
  }
  &__footer {
    color: rgb(163, 163, 163);
    display: block;
    overflow: hidden;
  }
}

.article {
  &__image {
    display: block;
    float: left;
    margin: 0 16px 0 0;
    max-width: 150px;
    width: 100%;
  }
  &__footer {
    color: rgb(163, 163, 163);
    display: block;
    overflow: hidden;
  }
  &__header {
    color: #949494;
  }
  &_paragraph {
    color: #949494;
  }
}

.dllist {
  border-bottom: 3px dotted cornsilk;
  color: rgb(163, 163, 163);
  padding: 16px;
  list-style: none;
  text-indent: 30px;
}

.diary {
  grid-area: diary;
  &__header {
    color: #949494;
  }
}

.entry {
  border-bottom: 3px dotted cornsilk;
  color: rgb(163, 163, 163);
  margin: 0 20px 20px 20px;
  padding: 5px;
  &__list {
    list-style: none;
    padding: 0;
    text-indent: 30px;
  }
  &__paragraph {
    color: #949494;
  }
}

.footer {
  color: rgb(163, 163, 163);
  display: block;
  overflow: hidden;
  &__paragraph {
    color: #949494;
  }
  &__link {
    bottom: 10px;
    position: fixed;
    right: 10px;
  }
  &__wtf {
    font-weight: bold;
  }
}

.form {
  color: rgb(163, 163, 163);
  &__input {
    margin: 0 0 10px 0;
  }
  &__label {
    &--message {
      display: flex;
      justify-content: flex-start;
    }
  }
  &__message {
    padding: 0 0 0 10px;
  }
}

.image {
  &__footer {
    color: rgb(163, 163, 163);
    display: block;
    overflow: hidden;
  }
}

.main {
  color: #949494;
  display: grid;
  grid-column-gap: 10px;
  grid-row-gap: 10px;
  grid-template-areas: "header header" "about about" "diary oderList" "table table";
  padding-top: 50px;
  &__image {
    float: left;
    max-width: 300px;
    margin: 0 16px 16px 0;
    padding: 30px 0 0 0;
    width: 100%;
  }
  &__header {
    background: rgb(22, 22, 22);
    font-family: Roboto, sans-serif;
    position: fixed;
    width: 65%;
  }
  &__paragraph {
    color: #949494;
  }
  @media (max-width: 1000px) {
    grid-template-areas: "header " "about " "diary" "oderList" "table";
  }
}

.navigation {
  &__link {
    border-left: 2px dotted;
    border-right: 2px dotted;
    margin: 5px;
    padding: 0 20px;
    color: aliceblue;
    text-decoration: none;
    &:hover {
      color: rgb(82, 82, 82);
      text-decoration: none;
    }
    &--right {
      border-right: 2px dotted;
    }
  }
  &__switcher {
    align-content: flex-end;
    background: none;
    border: none;
    color: white;
    display: flex;
    font-size: 265%;
    @media (min-width: 1220px) {
      display: none;
    }
  }
  &__item {
    display: inline;
  }
  &__list {
    align-items: center;
    display: flex;
    justify-content: center;
    @media (max-width: 1220px) {
      display: none;
      flex-direction: column;
    }
    &--visible {
      @media (max-width: 1220px) {
        display: flex;
      }
    }
  }
}

.oderlist {
  grid-area: oderList;
  &__header {
    color: #949494;
  }
}

.paragraph__js {
  color: #949494;
}

.shortcut {
  grid-area: about;
  &__header {
    color: #949494;
  }
  &__paragraph {
    color: #949494;
  }
}

.table {
  width: 100%;
  &__cell {
    border-bottom: 3px dotted cornsilk;
    color: rgb(163, 163, 163);
    padding: 16px;
  }
  &__example {
    color: #949494;
    grid-area: table;
  }
  &__title {
    color: #949494;
  }
  &__header {
    color: #949494;
    grid-area: table;
  }
}

.title {
  background-image: url("https://images.pexels.com/photos/1308624/pexels-photo-1308624.jpeg?auto=compress&cs=tinysrgb&dpr=1&w=500");
  background-position: center center;
  grid-area: header;
  min-height: 20vw;
  &__header {
    color: rgb(255, 0, 0);
    font-size: 2em;
  }
}

.title__header--red {
  color: blue;
}
